In [1]:
import pandas as pd
import numpy as np

In [98]:
ds=pd.read_csv("matchess.csv")

In [99]:
ds.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [139]:
columns_to_drop=["date","dl_applied","player_of_match","city","umpire1","umpire2","umpire3","id","season"]

In [140]:
df=ds.drop(columns_to_drop,axis=1)

In [141]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [142]:
df["team1"]=le.fit_transform(df["team1"])
df["team2"]=le.fit_transform(df["team2"])
df["toss_winner"]=le.fit_transform(df["toss_winner"])
df["toss_decision"]=le.fit_transform(df["toss_decision"])

df["venue"]=le.fit_transform(df["venue"])
df["result"]=le.fit_transform(df["result"])

In [143]:
df.head()

,team1,team2,toss_winner,toss_decision,result,winner,win_by_runs,win_by_wickets,venue
0,13,12,12,1,1,Sunrisers Hyderabad,35,0,23
1,7,10,10,1,1,Rising Pune Supergiant,0,7,16
2,3,6,6,1,1,Kolkata Knight Riders,0,10,25
3,10,4,4,1,1,Kings XI Punjab,0,6,11
4,12,2,12,0,1,Royal Challengers Bangalore,15,0,14

In [144]:
from sklearn.impute import SimpleImputer
si=SimpleImputer()

In [145]:
from sklearn.preprocessing import StandardScaler

In [146]:
sd=StandardScaler()

In [147]:
y=ds.winner
x=df1.values

In [148]:
df1=df.drop(["winner"],axis=1)

In [149]:
type(y)
y=le.fit_transform(y)

In [150]:
sd.fit(x)

C:\Users\PARTH\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [151]:
sd.transform(x)

C:\Users\PARTH\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

array([[ 1.62745783,  1.69648929,  1.48535499, ...,  0.89232083,
        -0.98683103,  0.58802012],
       [ 1.62745783,  0.25498336,  0.9808499 , ..., -0.57272281,
         1.06136093, -0.14548102],
       [ 1.62745783, -0.70602059, -0.02816027, ..., -0.57272281,
         1.93915748,  0.79759188],
       ...,
       [ 1.26655714,  1.69648929, -0.02816027, ...,  0.34816176,
        -0.98683103, -0.98376805],
       [ 1.26655714, -0.70602059,  1.73760753, ..., -0.57272281,
         0.18356437, -0.98376805],
       [ 1.26655714,  1.69648929,  1.48535499, ..., -0.23785569,
        -0.98683103, -0.35505278]])

In [152]:
x.shape

(636, 9)

In [153]:
y.shape

(636,)

In [154]:
from sklearn.model_selection  import train_test_split
xxt,xt,yyt,yt=train_test_split(x,y,test_size=0.1)

In [155]:
xxt.shape

(572, 9)

In [156]:
yt.shape

(64,)

In [157]:
from sklearn.ensemble import RandomForestClassifier
rl=RandomForestClassifier(n_estimators=88,random_state=20,n_jobs=4,criterion="entropy")

In [158]:
rl.fit(xxt,yyt)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=88, n_jobs=4,
            oob_score=False, random_state=20, verbose=0, warm_start=False)

In [159]:
rl.score(xxt,yyt)

1.0

In [160]:
rl.score(xt,yt)

0.9375

In [161]:
m=rl.predict(xt)

In [162]:
np.sum(m==yt)/64

0.9375

In [163]:
q=le.inverse_transform(m)

In [164]:
q

array(['Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Pune Warriors', 'Chennai Super Kings', 'Mumbai Indians',
       'Kolkata Knight Riders', 'Sunrisers Hyderabad',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Royal Challengers Bangalore', 'Chennai Super Kings',
       'Gujarat Lions', 'Delhi Daredevils', 'Kolkata Knight Riders',
       'Delhi Daredevils', 'Delhi Daredevils', 'Chennai Super Kings',
       'Royal Challengers Bangalore', 'Rajasthan Royals',
       'Mumbai Indians', 'Chennai Super Kings', 'Mumbai Indians',
       'Rajasthan Royals', 'Rajasthan Royals', 'Kings XI Punjab',
       'Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Rajasthan Royals', 'Kings XI Punjab', 'Delhi Daredevils',
       'Rajasthan Royals', 'Delhi Daredevils',
       'Royal Challengers Bangalore', 'Chennai Super Kings',
       'Royal Challengers Bangalore', 'Royal Challengers Bangalore',
       'Royal Challengers Bangalore', 'Delhi Daredevils', 'Gujarat Lions',
       'Deccan Chargers', 'Kolkata Knight Riders',
       'Royal Challengers Bangalore', 'Sunrisers Hyderabad',
       'Chennai Super Kings', 'Chennai Super Kings', 'Mumbai Indians',
       'Rajasthan Royals', 'Chennai Super Kings', 'Sunrisers Hyderabad',
       'Rajasthan Royals', 'Mumbai Indians', 'Mumbai Indians',
       'Royal Challengers Bangalore', 'Deccan Chargers',
       'Rajasthan Royals', 'Rajasthan Royals', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Deccan Chargers',
       'Royal Challengers Bangalore', 'Deccan Chargers',
       'Kings XI Punjab', 'Rising Pune Supergiants'], dtype=object)